.js-fade,
.js-fadeup,
.js-fadein {
  opacity: 0;
}

.js-scrollin {
  opacity: 0;
  translate: 0 10px;
}

.js-fade.is-inview {
  animation: fade 1s linear forwards;
}

.js-fadeup.is-inview {
  animation: fadeup 1s ease-out forwards;
}

.js-fadein.is-inview {
  animation: fadein 1s ease-out forwards;
}

.js-scrollin.is-inview {
  opacity: 1;
  translate: 0;
  transition:
    opacity 0.5s ease,
    translate 0.5s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    translate: 0 -30px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    translate: 0;
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    translate: 0 50px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    translate: 0;
  }
}

@keyframes fixed-nav-arrow {
  0% {
    opacity: 1;
    translate: 0 0;
  }

  30% {
    translate: 0 3px;
  }

  70% {
    opacity: 0;
    translate: 0 3px;
  }

  100% {
    opacity: 0;
    translate: 0 0;
  }
}
